.app {
  color: #114b5f;
}
.app-header {
  height: 75px;
  background-color: #0099ff;
  padding: 0 15px;
  display: flex;
  align-items: center;
}
.app-title {
  color: #eaf6ff;
  font-size: 25px;
}
.app-title:hover {
  text-decoration: none;
}

@media all and (min-width: 575px) {
  .app-body {
    margin: auto;
    padding: 0 15px;
  }
}
@media all and (min-width: 768px) {
  .app-body {
    max-width: 650px;
  }
}
@media all and (min-width: 991px) {
  .app-body {
    max-width: 800px;
  }
}
@media all and (min-width: 1199px) {
  .app-body {
    max-width: 1024px;
  }
}
